.about {
	margin-bottom: 145px;
	&__inner {
		border: 1px solid #dedede;
	}
	&__head {
		background: #ffffff;
		border-bottom: 1px solid #dedede;
		padding: 18px 27px;
		font-weight: 500;
		font-size: 24px;
		color: $text-dark;
	}
	&__body {
		padding: 38px 50px 45px;
		background: #ffffff;
	}
	&__box {
		margin-bottom: 45px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 20px;
		color: #444444;
		margin-bottom: 14px;
	}
	&__text {
		line-height: 24px;
		color: #707070;
	}
}