.adventages {
	background: $text-dark;
	padding: 110px 0;
	&__title {
		color: #ffffff;
		margin-bottom: 83px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		max-width: 31.6%;
		padding: 0 22px;
		text-align: center;
		&:hover {
			.adventages__item-icon{
				background: $color-green;
				svg {
					fill: #ffffff;
				}
			}
			.adventages__item-title{
				color: $color-green;
			}
		}
	}
	&__item-icon {
		width: 113px;
		height: 113px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		margin: 0 auto 25px;
		transition-duration: 0.3s;
		svg {
			display: block;
			fill: #000000;
			width: 70%;
			height: auto;
			max-height: 60%;
			transition-duration: 0.3s;
		}
	}
	&__item-title {
		font-weight: 500;
		font-size: 24px;
		color: #ffffff;
		margin-bottom: 18px;
		transition-duration: 0.3s;
	}
	&__item-text {
		line-height: 1.6;
		color: #b0bec5;
	}
}