@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?guu00k');
  src:  url('../fonts/icomoon.eot?guu00k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?guu00k') format('truetype'),
    url('../fonts/icomoon.woff?guu00k') format('woff'),
    url('../fonts/icomoon.svg?guu00k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-close:before {
  content: "\f00d";
}
.icon-lock:before {
  content: "\f023";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-edit:before {
  content: "\f044";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-yena:before {
  content: "\f157";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-pinterest-p:before {
  content: "\f231";
}