html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
}

button {
	cursor: pointer;
	display: inline-block;
	border: none;
	background: transparent;
}

ul, li {
	list-style: none;
}

body {
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	color:$text-dark;
}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid {
	max-width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
	// @media (max-width: 992px) {
	// 	padding: 0 15px;
	// }
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	color: $text-dark;
	text-align: center;
}