html {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	display: inline-block;
	border: none;
	background: transparent;
}

ul, li {
	list-style: none;
}

body {
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
	color: $text-dark;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.content {
	flex: 1 0 auto;
	margin-bottom: auto;
}

.container {
	max-width: 1200px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	color: $text-dark;
	text-align: center;
}

.popular  {
	position: relative;
	&::before {
		content: '';
		width: 63px;
		height: 63px;
		background: linear-gradient(135deg, $color-green 0%, $color-green 50%, transparent 51%, transparent 100%);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	&::after {
		content: '\f0e7';
		font-family: 'icomoon';
		font-size: 20px;
		color: #ffffff;
		position: absolute;
		left: 13px;
		top: 10px;
		z-index: 5;
	}
}

.breadcrumbs {
	&__inner {
		padding: 45px 0 38px;
	}
	&__item {
		display: inline-block;
		position: relative;
		& + .breadcrumbs__item {
			margin-left: 20px;
			&::before {
				content: '';
				width: 4px;
				height: 1px;
				background: $color-green;
				position: absolute;
				left: -14px;
				top: 50%;
				z-index: 2;
			}
		}
		&:last-child .breadcrumbs__link {
			color: $text-dark;
		}
	}
	a.breadcrumbs__link {
		color: #b0bec5;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}